@import 'global';

.about__subpage {
    width:30rem;
    margin:auto;
    text-align: center;
    padding:3rem 0;
    h1{font-size: 3rem};
    .text__address{
        margin:2rem;
        color:$theme-color;
    };
}