@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
 @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme"; 

@import 'themeColors';
@import 'global';
@import 'toggle-nav';



header{
  height: 100vh;
  min-height: 400px;overflow: hidden;
  position: relative;
  .header-bg{
   
    background-image: linear-gradient(transparent, $bg-color), url('../images/zastawa.jpg');
    background-size: cover;
    width:100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    
  }
  
}


main{
  .about{
    margin:6rem 0;
    height: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include respond-to(handhelds){flex-direction:column};
    /* height: 100%;
    min-height:100%;
    width: 100%; */
    .about__bg{
      background: linear-gradient($bg-color 60%, transparent);
      
      background-position: top 50%;
      background-size: cover;
      height: 100%;
      width:100%;
      position:absolute;
      z-index:-1
    }
    .about__chef{
      .about__chef-container{width:350px}
      text-align: center; 
      img{width:100%;height:100%;filter:brightness(0.6) grayscale(0.8)}
    }
    .about__art{flex-basis: 30%; align-self: center;
    border-radius: 3px;padding:2rem;
    }
  }
  .section, .location{
    height: 110vh;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    .location__bg{
      height: 100%;
      max-height: 100%;
      width: 100%;
      background: linear-gradient($bg-color, rgba(44, 42, 42, 0.616)) , url(../images/kurczak.jpg);
      background-position: center;
      background-size: 100%;
      background-attachment: fixed;
      position: absolute;
      z-index:-1;
     
     
    }
    .section__headline{
      margin-bottom: 2rem;
    }
    .section__btn{
      z-index:1
    }
  }
  .section.menu{
    display:flex;
    overflow: auto;
    flex-direction: row;
    @include respond-to(handhelds){flex-direction:column};
    justify-content: space-around;
    align-items: center;
    .menu__bg{
      background-color: $bg-color;
    }
    .menu__text{flex-basis: 40%; .btn{display:inline-block}}
    .menu__img{
      height: 40%;
      flex-basis: 40%;
      background: url(../images/menu.jpg);
      background-size:100%;
      @include respond-to(handhelds){position:absolute;width:100%;height: 100%;z-index:-1;filter:brightness(0.2);background-repeat: no-repeat;background-size:cover}
      
    }
     
  }
  .section.staff {
    .head{z-index:2}
    height: 100%;
    .glide__slides{z-index:2;overflow-x:hidden}
    .glide{height: 100%;overflow: hidden;width:100%}
    .glide__track{
      .glide__slide{transition:filter 1550ms ease;filter:brightness(0.6) grayscale(80%);height:500px;width:500px;overflow:hidden;z-index:1}
      .glide__slide:hover {filter:none;};
      img{overflow:hidden;object-fit: cover !important;min-height:100%;width:100%}
      .slide__overlay{height:100%;width:100%;
      .btn__staff{position:absolute;top:50%;left:calc(50% - 5rem);display:none}}
      .glide__bullet {filter: opacity(0.2) !important}
      
    }
    
  }
  .bar{
    display:flex;
    flex-direction: row;
    @include respond-to(handhelds){flex-direction:column}
    align-items: center;
    justify-content: space-around;
    #bar__bg{background: linear-gradient($bg-color, rgba(44, 42, 42, 0.616)) , url(../images/bar.jpg);background-size: 100%;background-position: center;background-attachment: fixed;}
    .bar__text{flex-basis: 30%;z-index: 1; .btn{display:inline-block;}}
    .bar__article{flex-basis: 30%}
  }
}
.bg--overlay{
  position:absolute;
  height:100%;
  width:100%;
  background: linear-gradient($bg-color, transparent 70%, $bg-color,);
  z-index:1;
  overflow: hidden;
}

footer{
  overflow: hidden;
  .links{
    list-style: none;display:flex;flex-direction: row;z-index:100;align-content:center;height:100%;justify-content: center;
    .link{align-self: center}
    .link img{width:75px;height: auto};
    .link:nth-child(2) img {width:300px};
  }
}

