@import url('https://fonts.googleapis.com/css?family=Metrophobic|Sacramento');
$font-head:  'Sacramento', cursive;
$font-sub: 'Metrophobic', sans-serif;

$theme-color: rgb(209, 154, 45);
$cta-fontsize: 1.5rem;
$padding: 1rem;
$bg-color: rgb(44, 42, 42);
a{text-decoration: none;color:inherit}
hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: $theme-color;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 50%;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: $theme-color;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    
}

$break-small: 792px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

