$font-head:  'Sacramento', cursive;
$font-sub: 'Metrophobic', sans-serif;
$theme-font:    verdana, sans-serif;
$theme-color: rgb(209, 154, 45);
$cta-fontsize: 1.5rem;
$padding: 1rem;
$bg-color: rgb(44, 42, 42);