@import 'global';

.menu-bg {
    background-image: linear-gradient(transparent, $bg-color), url('../images/charr.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    height: 100vh;
    position: absolute;
    z-index:-1;
    /* background-attachment: fixed */
}

.menu-headline{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    position:relative;
    top:0;
    font-size: 1.5rem;
}

.side-navbar{
    @include respond-to(handhelds){display:none}
    z-index:10;position:fixed;left:0;top:35%;padding:0;background:rgba($bg-color,0.2);width:20%;min-width: 200px;height:300px;display:flex;align-items:flex-start;padding:2rem 0;
ul{padding:0;width:100%;margin:0;list-style: none;;
li{transition:background-color 350ms ease;position:relative;height:50px;padding:1rem 0.3rem;background: rgba(209, 154, 45,0);border-bottom:1px solid white;text-align: left; ;a{display: inline-block;width:100%;height: 100%};div{display: inline-block;}}
li.active{background:$theme-color;}
li::after{
    content:'';
    position: absolute;
    top:0;
    width:0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    right:-15px;
    border-color:transparent transparent transparent $theme-color;
    opacity: 0;
    transition: opacity 350ms ease
}}
li.active::after{opacity: 1}}


.menu-section {
    height: 100vh;
    margin-top:2rem;
    display:flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    min-height: 800px;
    overflow: hidden;
    height: 100%;
    .headline{

        position: relative;
        width: 100%;
        display:flex;
        height: 100%;
        min-height: 300px;
        text-align: center;
        align-items: center;
        justify-items: center;
        margin: auto
    }
    .starters__bg,.main-dishes__bg,.desserts__bg,.group__bg{
        
        overflow: hidden;
        
        height: 100%;
        width: 100%;
        margin:auto;
        position: absolute;
        z-index:-1;
        @include respond-to(handhelds){
            background-size: cover !important;
        }
    }
 
    .starters__bg{background:url('../images/buffet.jpg');background-size:100%;
        background-position: center;background-attachment: fixed;}
    .main-dishes__bg{background:url('../images/breakfast.jpg');background-size:100%;
        background-position: center;background-attachment: fixed;}
    /* .desserts__bg{background:url('../images/dessert.jpg');background-size:100%;
        background-position: center;background-attachment: fixed;}
    .group__bg{background:url('../images/group.jpg');background-size:100%;
        background-position: center;background-attachment: fixed;} */
    .headline__text{background:rgba(0, 0, 0, 0.207);width:50%;margin:auto;font-size: 2rem}
}   
    .menu__list{margin:2rem 0;height: 100%;min-height: 600px;display:flex}
    .menu{text-align:center;list-style-type: none;width:60%;margin:auto;display:grid;@include respond-to(handhelds){grid-template-columns: 1fr 1fr}grid-template-columns: repeat(auto-fit,minmax(300px,1fr));grid-gap: 1rem;grid-auto-rows: minmax(60px,250px);
        align-items: center;justify-content: space-evenly;
        .menu--item{font-size:1.2rem}
        .menu--describtion{font-size: 0.7rem};
    }
    .menu--short{min-height: 300px}

       
    .menu__items{width:100%;display:grid;list-style: none;grid-template-columns: 1fr;text-align: center;justify-content: center;
    grid-auto-rows: minmax(250px,1fr)}
    .group__menu{width:60%;margin:auto;@include respond-to(handhelds){width:100%}}
    .menu__item-content{list-style: none;}



    //buffet
    .buffet{
        display: grid;
        font-size:1.3rem;
        width:85%;
        margin:auto;
        text-align:center;
        
        ul{list-style: none;}
        *{
            line-height: 2rem;
        }
    }